<!doctype html>

<html lang="en" xmlns:th="https://tymeleaf.org">
  <head>
    <title>SarKhan | Admin</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" th:href="@{/assets/icon.png}" type="image/gif" sizes="16x16">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <script type="text/javascript" th:src="@{/scripts/script.js}"></script>
    <link th:href="@{/styles/styles.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>  
    
    <script>
        $.getJSON("https://api.ipify.org?format=json", function(data) {
          $("#ip-address").html(data.ip);
      })
          </script> 
           <style>
            a:hover{
                text-decoration: none;
            }
            input[type='file'] {
  color: transparent;
}

        </style>
</head>
   
  <body  > 
  
      <div th:replace="menu :: menu"></div> 
      <div class="container jumbotron" style="background-color: yellow;">
        
      <form enctype="multipart/form-data" th:action="@{/new-photo}" method="post">
        <center><h2>Şəkil seç</h2></center>
        
          <div class="custom-file">
            <input type="file"  name="file" accept="image/x-png,image/jpeg,image/jpg"  class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Şəkil seç</label>
          </div>
         
          <center><input type="submit" class="btn btn-success" value="Paylaş"> </center>
    </form>
     
  </div>
<div class="jumbotron container" style="background-color: rgb(148, 84, 209);">
   
<form th:action="@{/new-content}" th:object="${content}"  method="post">
  <center><h2>Mövzu yaz </h2></center>
 
  <b><label for="">Mövzu başlığı :</label>  </b>
  
  <input type="text" th:field="*{header}"  class="form-control">
  <br>
  <b> <label for="">Mövzu :</label></b>
  <textarea name="" th:field="*{text}" class="form-control" id="" cols="30" rows="10"></textarea>
<center>  <input class="btn btn-success" value="Paylaş" type="submit"> </center>
</form>
  
</div>



  <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script>
    </body>
</html>